.msg-row{
    margin-bottom: 1rem;
    display: flex;
}

.own{
    justify-content: flex-end;
}

.bot{
    justify-content: flex-start;
}

.msg-bubble{
    max-width: 70%;
    background-color: #e5e5ea;
    padding: .8rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.own .msg-bubble{
    background-color: #5e51aa;
    color: white;
}

.msg-sender{
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: .8rem;
}